<style>
.form { 
    text-align: center;
    }
body { 
    background: url("https://i.ibb.co/8dN43Lh/Brown-and-Orange-Neutral-Delicate-Organic-Fashion-Marketing-Presentation-7.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }  
    h1 {
        font-family: Comic Sans MS, Comic Sans, cursive
    }
</style>
<body>
<div class= "form">
<img src="https://i.ibb.co/cyXRxyX/Screen-Shot-2021-04-01-at-3-37-04-PM.png" style="width:200px;height:142px;">
    <h1> Login </h1> <br>
    <%= form_with model: @user, url: login_path, method: :post do | f | %>
    <%= f.label :email %> <br>
    <%= f.text_field :email %> <br><br>
    <%= f.label :password %> <br>
    <%= f.password_field :password %> <br><br>
    <%= f.submit "Log in"%><br><br>
    <strong><%= link_to "Sign up", new_user_path %></strong>
    <% end %>
</div>
</body>