

<style>
.form { 
    text-align: center;
    }
body { 
    background: url("https://i.ibb.co/GT24R4t/Brown-and-Orange-Neutral-Delicate-Organic-Fashion-Marketing-Presentation-8.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }  
</style>
<body>

<div class= "form">
<%= form_with model: @admin do |f| %>
    First Name: <%= f.text_field :first_name%> <br><br>
    Last Name: <%= f.text_field :last_name%><br><br>
    Email: <%= f.text_field :email %><br><br> 
    Password: <%= f.password_field :password%><br><br> 
    Age: <%= f.number_field :age%><br><br> 
    Phone number: <%= f.text_field :phone_number%><br><br> 
    Address: <%= f.text_field :address%><br><br> 
    <%= f.submit %>
<%end%> 
</div>
    