<style>
.form { 
    text-align: center;
    }
body { 
    background: url("https://i.ibb.co/GT24R4t/Brown-and-Orange-Neutral-Delicate-Organic-Fashion-Marketing-Presentation-8.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-color: green;
    }  
    h3 {
        font-family: Comic Sans MS, Comic Sans, cursive
    } 
    h1 {
        font-family: Comic Sans MS, Comic Sans, cursive
    }

</style>
<body>

<div class= "form">
<img src="https://i.ibb.co/cyXRxyX/Screen-Shot-2021-04-01-at-3-37-04-PM.png" style="width:200px;height:142px;">
<%= button_to "log out", "/logout", method: :delete %>
<hr>
<h1><%=@user.full_name%>'s Profile</h1>
Age: <%= @user.age %><br>
Address: <%= @user.address %><br>
Email: <%= @user.email %><br>
Phone Number: <%= @user.phone_number %><br>


<h3> Donations </h3>

<% @user.donations.each do |donation| %>
   <%= "$#{donation.amount}" %><br>
<% end %>


<h3> Projects </h3>
<% @user.volunteer_signups.each do |volunteer_signup|%>
   <%= volunteer_signup.project.name %><br>
<% end %>

<br><br>
<strong class="link"><%= link_to "Available Projects", projects_path %></strong>
<br><br><br>
<strong class="link"><%= link_to "Sign up for a new project", new_volunteer_signup_path %></strong>
<br><br><br>
<strong class="link"><%= link_to "Make a new donation", new_donation_path %></strong>
<br><br><br>
<strong class="link"><%= link_to "Edit my informations", edit_user_path %></strong>
<br><br><br>
<%= button_to "Delete my account", @user, method: :delete %>
</div>