<h1><%=@user.full_name%>'s profile</h1><hr>

<li>Age: <%= @user.age %></li>
<li>Address: <%= @user.address %></li>
<li>Email: <%= @user.email %></li>
<li>Phone Number: <%= @user.phone_number %></li>


<h3> Donations </h3>
<% @user.donations.each do |donation| %>
    <li><%= "$#{donation.amount}" %> </li>
<% end %>

<h3> Projects </h3>

<% @user.projects.each do |project|%>
    <li><%= link_to project.name, project %> </li>
<% end %>