<style>
.form { 
    text-align: center;
    }
body { 
    background: url("https://i.ibb.co/GT24R4t/Brown-and-Orange-Neutral-Delicate-Organic-Fashion-Marketing-Presentation-8.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }  
</style>
<body>

<div class= "form">
<%= form_with model: @project do |f| %>
    Name: <%= f.text_field :name%> 
    <br><br>
    Date: <%= f.text_field :date%><br><br> 
    Bio: <br> <%= f.text_area :bio, cols: 30, rows: 10 %>
    <br><br>
    <%= f.submit %>
<%end%> 
</div>