<style>
.form { 
    text-align: center;
    }
body { 
    background: url("https://i.ibb.co/GT24R4t/Brown-and-Orange-Neutral-Delicate-Organic-Fashion-Marketing-Presentation-8.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    } 
h3 {
    font-family: Comic Sans MS, Comic Sans, cursive
} 
h1 {
    font-family: Comic Sans MS, Comic Sans, cursive
}
</style>
<body>

<div class= "form">
<body>
<img src="https://i.ibb.co/cyXRxyX/Screen-Shot-2021-04-01-at-3-37-04-PM.png" style="width:180px;height:142px;">
</body>
<h1><%=@project.name%></h1>
<hr>
<li><strong>Since:</strong> <%= @project.date %></li>
<li><strong>Bio:</strong> <%= @project.bio %></li>

<h3> Volunteers </h3>
<% @project.users.each do |user| %>
    <li><%= user.full_name %> </li>
<% end %>
<br><br>
<h3> Donation total</h3>
<li><%= "$#{@project.donation_total}" %> </li>
<br>
<h3> All Donations </h3>
<% @project.donations.each do |donation| %>
    <li><%= "$#{donation.amount}" %> </li>
<% end %>


<br><br>
<strong><%= link_to "Edit project's information", edit_project_path %></strong>
<br><br><br>
<%= button_to "Delete", @project, method: :delete %>
</div>